<!DOCTYPE html>
<html>

<head>
    {include file="common/resources" /}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {include file="common/header" /}
    {include file="common/menu" /}
    <!-- 内容主体区域 -->
    <div class="layui-body">
        <span class="layui-breadcrumb">
          <a href="javascript:;">控制台</a>
          <a href="javascript:;">管理员</a>
          <a><cite>管理员列表</cite></a>
        </span>
        <span class="layui-layout-right">
            <a class="layui-btn" href="JavaScript:;" id="query">
                <i class="layui-icon layui-icon-search"></i>查询
            </a>
            <a class="layui-btn" href="{:url('create')}"><i class="layui-icon"></i>添加</a>
        </span>
        <div class="layui-fluid query">
            <div class="layui-card">
                <form action="{:url('index')}" method="get">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                         lay-filter="layadmin-userfront-formlist">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">账号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="account" placeholder="请输入" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" placeholder="请输入" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">角色类型</label>
                                <div class="layui-input-block">
                                    <select name="type" lay-verify="required" lay-search="">
                                        <option value="">请选择角色类型</option>
                                        <option value="1">超级管理员</option>
                                        <option value="2">系统管理员</option>
                                        <option value="3">监察人员</option>
                                    </select>
                                    <div class="layui-form-select">
                                        <div class="layui-select-title">
                                            <input type="text" placeholder="带搜索的选择框" class="layui-input">
                                            <i class="layui-edge"></i>
                                        </div>
                                        <dl class="layui-anim layui-anim-upbit">
                                            <option value="">请选择角色类型</option>
                                            <option value="1">超级管理员</option>
                                            <option value="2">系统管理员</option>
                                            <option value="3">监察人员</option>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layuiadmin-btn-useradmin">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="layui-table mt">
            <thead>
            <tr>
                <th>ID</th>
                <th>账号</th>
                <th>昵称</th>
                <th>角色</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach $list as $value}
            <tr>
                <td>{$value.id}</td>
                <td>{$value.account}</td>
                <td>{$value.name}</td>
                <td>{$value.type}</td>
                <td>{$value.create_time}</td>
                <td>
                    <div class="layui-table-cell laytable-cell-3-0-9">
                        <a class="layui-btn layui-btn-normal layui-btn-xs"
                           href="{:url('update',array('id'=>$value.id))}">
                            <i class="layui-icon layui-icon-edit"></i>编辑
                        </a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs tab_del" data-id="{$value.id}">
                            <i class="layui-icon layui-icon-delete"></i>删除
                        </a>
                    </div>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {$list|raw}
    </div>
    {include file="common/footer" /}
</div>
</body>
<script>
    layui.use(['layer', 'element','form'], function () {
        $(function () {
            $("#query").click(function () {
                $(".query").toggle()
            })

            $(".tab_del").click(function () {
                var id = $(this).data('id');
                let admin = layer.msg('是否确认删除？', {
                    time: 20000, //20s后自动关闭
                    btn: ['确认', '取消'],
                    btn1: function () {
                        console.log(123)
                        layer.close(admin)
                        del(id) //调用删除函数
                    }
                });
            });
            function del(id) {
                $.ajax({
                    url: 'del',
                    data: {id: id},
                    method: 'post',
                    dataType: 'json',
                    success: function (res) {
                        layer.msg(res.msg);
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                })
            }
        })
    });
</script>

</html>
