<!DOCTYPE html>
<html>

<head>
    {include file="common/resources" /}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {include file="common/header" /}
    {include file="common/menu" /}
    <!-- 内容主体区域 -->
    <div class="layui-body">
        <span class="layui-breadcrumb">
          <a href="javascript:;">控制台</a>
          <a href="javascript:;">管理员</a>
          <a><cite>管理员信息修改</cite></a>
        </span>
        <div class="layui-fluid">
            <form action="{:url('edit')}" method="post">
                <input type="hidden" name="id" value="{$detail.id}">
                <div class="layui-row layui-col-space15">
                    <div class="layui-fluid">
                        <div class="layui-card">
                            <div class="layui-card-header">账户</div>
                            <div class="layui-card-body layui-row layui-col-space10">
                                <div class="layui-col-md6">
                                    <input type="text" name="account" placeholder="管理员账号" autocomplete="off"
                                           class="layui-input" value="{$detail.account}">
                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">密码</div>
                            <div class="layui-card-body layui-row layui-col-space10">
                                <div class="layui-col-md6">
                                    <input type="text" name="password" placeholder="图标类名或链接地址" autocomplete="off"
                                           class="layui-input" value="{$detail.password}">
                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">昵称</div>
                            <div class="layui-card-body layui-row layui-col-space10">
                                <div class="layui-col-md6">
                                    <input type="text" name="name" placeholder="管理员用户名" autocomplete="off"
                                           class="layui-input" value="{$detail.name}">
                                </div>
                            </div>
                        </div>
                        <div class="layui-card layui-form" lay-filter="component-form-element">
                            <div class="layui-card-header">角色类型</div>
                            <div class="layui-card-body layui-row layui-col-space10">
                                <div class="layui-col-md6">
                                    <select name="type" lay-verify="required" lay-search="">
                                        <option value="">请选择角色类型</option>
                                        {if $detail.type == 1 }
                                        <option value="1" selected>超级管理员</option>
                                        {else}
                                        <option value="1">超级管理员</option>
                                        {/if}
                                        {if $detail.type == 2 }
                                        <option value="2" selected>系统管理员</option>
                                        {else}
                                        <option value="2">系统管理员</option>
                                        {/if}
                                        {if $detail.type == 3 }
                                        <option value="3" selected>监察人员</option>
                                        {else}
                                        <option value="3">监察人员</option>
                                        {/if}
                                    </select>
                                    <div class="layui-form-select">
                                        <div class="layui-select-title">
                                            <input type="text" placeholder="带搜索的选择框" value="" class="layui-input">
                                            <i class="layui-edge"></i>
                                        </div>
                                        <dl class="layui-anim layui-anim-upbit">
                                            <option value="">请选择角色类型</option>
                                            <option value="1">超级管理员</option>
                                            <option value="2">系统管理员</option>
                                            <option value="3">监察人员</option>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card layui-form">
                            <div class="layui-card-body layui-row layui-col-space10">
                                <div class="layui-col-md6">
                                    <input type="submit" value="保存" class="layui-btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {include file="common/footer" /}
    </div>
</div>
</body>

<script>
    layui.use(['layer', 'element', 'form'], function () {
    });
</script>
</html>
