<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Elf Porridge</title>
    <script src="/framework/JQuery/JQuery.js"></script>
    <link rel="stylesheet" href="/static/lover/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/lover/css/styles.css" />
    <script src="/static/lover/js/custom.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/lover/js/jquery.countdown.js"></script>
</head>

<body>
<div id="home">
    <div class="banner-container">
        <div class="container">
            <div class="heading text-center">
                <h2>Elf Porridge & Sleeping Elf</h2>
                <h3>We Are Getting Married</h3>
                <h5>On 26 Dec 2017</h5>	</div>
            <div class="countdown styled"></div>
            <div class="copyrights">
                <a href="#" title="about">About Elf Porridge</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
