<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sleeping Elf</title>
    <meta name="keywords" content="粥粥"/>
    <meta name="description" content="粥粥"/>
    <link rel="stylesheet" href="/framework/layui/css/layui.css?t=1.4.0" media="all">
    <link id="layuicss-layuiAdmin" rel="stylesheet" href="/static/index/admin.css?v=1.4.0 pro-1" media="all">
</head>
<body class="layui-layout-body">
<div class="layadmin-tabsbody-item layui-show">
    <div class="layui-fluid">
        <div class="layadmin-tips">
<!--            <i class="layui-icon " face=""></i>-->

            <div class="layui-text" style="font-size: 20px;">
                私人小站 ———— 谢绝来访
            </div>

        </div>
    </div>
</div>
</body>

</html>
