<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Elf-Porridge</title>
    <script src="/framework/JQuery/jquery.js"></script>
    <link rel="stylesheet" href="/static/lover/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/lover/css/styles.css" />
    <script src="/static/lover/js/custom.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/lover/js/jquery.countdown.js"></script>
</head>

<body>
<div id="home">
    <div class="banner-container">
        <div class="container">
            <div class="heading text-center">
                <h3>梦时南墙倒</h3>
                <h3>醒时南墙到</h3>
            <div class="countdown styled"></div>
            <div class="copyrights">
                <a href="javascript:;">私人小站，不对外开放</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
