html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #8a6d3b;
}

body {
    background: url(login1.jpg) no-repeat;
    background-size: cover;
}

.content {
    width: 400px;
    float: right;
    height: 100%;
}

.content form {
    margin-top: 80%;
}

h1 {
    text-align: center;
}
