<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="">
            <span>Sleeping Elf</span>
        </div>
        <ul class="layui-nav layui-nav-tree">
            {foreach $side_menu as $vo}
            <li class="layui-nav-item">
                <a href="{:url($vo.link)}">
                    <i class="layui-icon {$vo.icon}"></i>
                    <cite>{$vo.name}</cite>
                </a>
            </li>
            {/foreach}
            <span class="layui-nav-bar" style="top: 28px; height: 0px; opacity: 0;"></span>
        </ul>
    </div>
</div>
