<!--资源文件-->
<meta charset="utf-8">
<title>Sleeping Elf</title>
<link rel="stylesheet" href="/framework/layui/css/layui.css">
<link rel="stylesheet" href="/framework/layui/laydate.css">
<link rel="stylesheet" href="/framework/layui/layer.css">
<link rel="stylesheet" href="/static/admin/common/admin.css">
<link rel="stylesheet" href="/static/admin/common/common.css">
<script src="/framework/layui/layui.js" type="text/javascript"></script>
<script src="/framework/jquery/jquery.js" type="text/javascript"></script>
<script src="/static/admin/common/form.js" type="text/javascript"></script>
<script src="/static/admin/common/common.js" type="text/javascript"></script>
