<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {include file="common/resources" /}
    <link rel="stylesheet" href="/static/admin/login/login.css">
    <script type="text/javascript" src="/static/admin/login/login.js"></script>
    <title>SleepingElf</title>
</head>
<body class="login-wrap">
<div class="login-container">
    <form class="login-form" action="{:url('login')}" method="post">
        <div class="input-group"><h2>SleepingElf</h2></div>
        <div class="input-group">
            <input type="text" id="username" name="account" class="input-field">
            <label for="username" class="input-label account">
                <span class="label-title">Account</span>
            </label>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" class="input-field">
            <label for="password" class="input-label password">
                <span class="label-title">Password</span>
            </label>
        </div>
        <button type="submit" class="login-button">login<i class="ai ai-enter"></i></button>
    </form>
</div>
</body>
</html>
