<!DOCTYPE html>
<html>
<head>
    {include file="common/resources" /}
    <link rel="stylesheet" href="/static/admin/login/index.css">
    <script type="text/javascript" src="/static/admin/login/index.js"></script>
</head>
<body>
<div class="content">
    <form class="layui-form" action="{:url('login')}" method="post">
        <div class="layui-form-item">
            <h1>Elf-Porridge</h1>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Account</label>
            <div class="layui-input-inline">
                <input type="text" name="account" lay-verify="title" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Password</label>
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="password" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <!-- lay-submit="" 触发验证 -->
                <button type="submit" class="layui-btn" lay-submit="">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
